* {
  /*margin: 0;
  padding: 0;
  box-sizing: border-box;*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: rgba(21, 21, 77, 0.589);
}

/*MOBILE FIRST RESPONSIVE NAVIGATION STYLING START-
COLLAPSING TO BURGER USING A CHECKBOX, HTML & CSS ONLY- */
header {
  text-align: center;
  /*position: fixed;*/
  width: 100%;
  z-index: 100;
  font-weight: 200;
}

.toggler {
  display: none;
}

.burger {
  position: absolute;
  font-size: 35px;
  top: 16px;
  right: 0;
  margin-right: 16px;
  height: 100%;
  display: flex;
}

.logo {
  display: flex;
  height: 60px;
  width: 60px;
  margin-left: 1rem;
}
nav ul {
  position: fixed;
  list-style: none;
  background-color: rgba(172, 215, 255, 0.774);
  width: 50%;
  height: 35vh;
  left: -100%;
  transition: all 0.5s;
}
nav li {
  margin-bottom: 12px;
  padding: 10px;
  margin-top: 14px;
  text-align: left;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: black;
  transition: ease-in 0.1s;
}

.toggler:checked ~ nav ul {
  left: 0;
}

/*NAGITATION STYLING END*/

/*MAIN SECTION INDEX PAGE STYLING START*/
.introText {
  padding: 2rem;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introText h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2rem;
}

.introForm fieldset {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

/*"FUN" PAGE ANIMATION, TRANSITION, HOVERLIST STYLING START*/
.animation div {
  height: 200px;
  width: 200px;
  background-color: yellow;
  animation-name: MyAnimation;
  animation-duration: 5s;
}
@keyframes MyAnimation {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
  from {
    height: 200px;
    width: 200px;
  }
  to {
    height: 200px;
    width: 600px;
  }
}

.transition div {
  height: 200px;
  width: 200px;
  background-color: yellow;
}
.transition div:hover {
  width: 400px;
  background-color: violet;
}
.hiddenList {
  display: none;
}
.visibleList:hover {
  display: block;
}

/*RESPONIVE DESIGN FOR DESKTOP USERS*/
@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 5fr);
  }
  nav {
    display: flex;
    grid-column: 2/4;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    all: unset;
    list-style: none;
    display: flex;
  }

  nav a {
    color: rgba(172, 215, 255, 0.774);
  }
  .introText {
    flex-direction: row;
    align-content: center;
  }
}
